* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  margin-top: 50vh;
  margin-left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg) scale(0.3);
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.loading_circile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(calc(var(--i) * 14deg));
  animation: anime 1s ease-in-out calc(var(--i) * -0.03s) infinite;
}

@keyframes anime {
  0% {
    transform: translate(-50%, -50%) rotateZ(calc(var(--i) * 12deg));
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(calc(var(--i) * 12deg + 360deg));
  }
}

.loading_circile::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 150px;
}
